/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* GENERAL STYLES */

:root{
   --iterative-color:rgba(255, 72, 0);
   --overlay-blue:rgba(60, 185, 243);
   --overlay-black:rgba(0 ,0 , 0, 0.5);

   /* font Color */

   --text-white:rgb(250,235,215);
   --text-grey: rgb(229,228,226);
   --text-black: rgba(17, 17, 17);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
}

.logo{
    width: 250px;
    color: var(--iterative-color);
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.btn{
    margin-top: 25px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-white);
    border: 2px solid var(--text-white);
    padding: 10px 25px;
    border-radius: 25px;
    letter-spacing: 5px;
    transition: 0.3s;
}

.btn:hover{
    background:  var(--text-white);
    letter-spacing: 5px;
    color: var(--iterative-color);
    border: 2px solid var(--iterative-color);
}

.active {
    border-bottom: 2px solid var(--iterative-color);
    width: 5px;
}


/* TEXT */
a{
    text-decoration: none;
}

.fas{
    color: var(--iterative-color);
    font-size: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--iterative-color);
    letter-spacing: 2px;
    margin: 25px;
    text-align:center;
    
}

.sub-title {
    font-size: 3rem;;
    color: var(--text-white);
    font-weight: 700;
    margin: 25px;
}

.text-p{
    font-size: 1.1rem;
    padding: 25px;
    color: var(--text-black);
    
}

/* MEDIA */

img{
    width: 100%;
}

.container-box{
    margin-bottom: 50px;
}



/*******************************
*                              *
*         INTRO PAGE           *
*                              *
*******************************/

#intro-section{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--overlay-black);
    color: var(--text-white);
    overflow: hidden;
}

#intro-section header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    z-index: 10;
}


#intro-section video{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position:0px -80%; */
 }

 #intro-section .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-black);
    opacity: 0.9;
}

#intro-section .text-box{
    z-index: 10;
    margin-top: 150px;
}

#intro-section .text-box h1{
    font-size: 4rem; 
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}


#intro-section .text-box h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#intro-section .text-box p{
    font-size: 1.1rem;
    width: 70%;
}

#intro-section .text-box span{
    font-size: 2.5rem;
    color: var(--iterative-color);
}

#intro-section .text-box .fa-arrow-right{
    color: var(--iterative-color);
    font-size: 20px;
}

#intro-section .social{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro-section .social ul li {
    list-style: none;
    margin-top: -50px;
}
 
#intro-section .social ul li i{
    font-size: 15px;
    color: var(--text-white);
    margin-right: 5px;
    transition: 0.3s;
    opacity: 0.7;
    border: 2px solid var(--text-white);
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    text-align: center;
  
}

#intro-section .social ul li i:hover{
    color: var(--iterative-color);
    border: 2px solid var(--iterative-color);
}

/*******************************
*                              *
*         HOME PAGE            *
*                              *
*******************************/

#header-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #111), url(https://images.unsplash.com/photo-1610023926499-571d3b203226?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

#header-section nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--overlay-black);
    padding: 25px;
    
}

#header-section nav ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
    
}

#header-section nav ul li a{
    color: var(--text-white);
    margin: 50px 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
    transition: 0.3s;
}

 #header-section nav ul li a:hover{
    opacity: 0.8;
     
 }

 #about-section .title-box{
     text-align: center;
     margin-bottom: 50px;

 }

 @media screen and (max-width:994px){

    /* ALIGN ELEMENTS */

    .row {
        flex-direction: column!important;
    
     }
     .col-md-6 {
         width: 100%;
  
        }

     .row-reverse {
        flex-direction: column-reverse!important;
     }
  
 }


/* MEDIA QUERIES */
@media screen and (max-width:768px){

    #intro-section{
        padding: 50px;
     
    }

   .logo{
        position: absolute;
        left:25px;
        top: 25px;
        font-size: 1rem;
     }

    #intro-section .text-box h1{
        font-size: 3rem; 
    }
    
    
    #intro-section .text-box h3{
        font-size: 2rem;
    }
    
    #intro-section .text-box p{
        font-size: 1.1rem;
    }
    
    #intro-section .text-box span{
        font-size: 2rem;
    }

    /* HOME PAGE */


 .about-section p{
     text-align: center!important;
 }

    

}

@media screen and (max-width:600px){

    #intro-section{
        padding: 50px;
        text-align: center;
    }
   
    .logo{
        left:0px;
   
     }

    #intro-section .text-box {
        margin-top: 20px;
    }

    #intro-section .text-box h1{
        font-size: 2rem; 
    }

    #intro-section .text-box h3{
        font-size: 1.5rem; 
    }


    #intro-section .text-box p{
        width: 100%;
        font-size: 0.8rem;
        margin: 50px 0;
    }

    #intro-section .social ul li i{
        border: none;
    }

    #intro-section .social ul li i:hover{

        border: none;
    }

    .btn {
        font-size: 15px;
    }

    /* HOME PAGE */

    .title {
        font-size: 2.5rem;
    }

    .sub-title {
        font-size: 2rem;
    }
    
    .text-p,
    .sub-title{
        text-align: center;
    }
  

}
    
    @media screen and (max-width:415px){

        #intro-section .text-box h1{
            font-size: 1.8rem; 
        }
    
        #intro-section .text-box h3{
            font-size: 1.4rem; 
        }
    }

    @media screen and (max-width:381px){

        #intro-section .text-box h1{
            font-size: 1.4rem; 
        }
    
        #intro-section .text-box h3{
            font-size: 1.1rem; 
        }
    }

    @media screen and (max-width:306px){

        #intro-section .text-box h1{
            font-size: 1.1rem; 
        }
    
        #intro-section .text-box h3{
            font-size: 1rem; 
        
        }

       .btn {
        font-size: 10px;
       }
  
}

 /* MEDIA QUERIES LANDSCAPE */
 @media screen and (max-width:736px) and (max-height:414px) {

     #intro-section .text-box {
      margin-top: 50px;
    }

    #intro-section .text-box h1{
        font-size: 1.8rem; 
    }

    #intro-section .text-box h3{
        font-size: 1.3rem; 
    }

    #intro-section .text-box p{
        font-size: 0.8rem; 
    }

 }

 @media screen and (max-width:640px) and (max-height:360px) {

    #intro-section .text-box {
     margin-top: 50px;
   }

   #intro-section .text-box h1{
       font-size: 1.5rem; 
   }

   #intro-section .text-box h3{
       font-size: 1.1rem; 
   }

   #intro-section .text-box p{
       font-size: 0.8rem; 
   }

   .btn
    {
       font-size: 10px;
   }

}

@media screen and (max-width:1024px) and (max-height:600px) {

    #intro-section .text-box {
     margin-top: 25px;
   }



}


